
#body {
	height: 100vh;
	padding: 0;
}

#msg-div {
	 margin: 10px;
 }
#msg-div .message-group {
	float: left;
	margin-left: 2%;
	margin-right: 2%;
}

#send-div {
	float: left;
	width: 20%;
}

#head-div {
	height: 16vh;
	margin-top: 1vh;
}
#editorView {
	height: 81vh;
	margin: 0 auto;
}
#editormd {
	float: left;
}
#help-title {
	height: 10vh;
	border: 1px solid rgb(221,221,221);
	text-align: center;
}
#help {
	float: left;
	width: 25%;
}
#help-content {
	height: 71vh;
	overflow:auto;
}