.blog-visit {
	margin-top: 10%;
}
.blog-right {
	background: #fff;
}
#mdView {
	border-radius: 10px;
	margin-bottom: 15px;
}
.title-msg {
	margin-left: 10px;
	margin-right: 10px;
}
.title-msg-div {
	margin-top: 3%;
	margin-bottom: 3%;
}
.like-div {
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 25px;
	box-shadow: 0 2px 10px rgba(0,0,0,.05);
	position: fixed;
	left: 90%;
	top: 45%;
}
.like-svg {
	margin: 15px;
}
.back-to-top {
	width: 40px;
	height: 40px;
	text-align: center;
	color: #888;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0,0,0,.05);
	position: fixed;
	left: 90%;
	top: 90%;
}
.to-top-div {
	padding-top: 10px;
	padding-bottom: 10px;
}
.back-to-top :hover{
	background: #888;
	color: #fff;
}
.comment {
	margin-top: 10%;
}
.comment-content {
	border: 0px;
}
.line {
	height: 1px;
	border-bottom: 1px dashed #aaa;
	color: #ccc;
	margin: 15px 0px;
}