body {
    background: #F5F7F9;
}
.container {
    margin-top: 30px;
    margin-bottom: 30px;
}
.info {
    background: #fff;
    padding-top: 5%;
    border-radius: 8px;
}
.blog-message {
    margin-left: 10%;
    margin-right: 10%;
}
.blog-mes-div {
    padding: 0;
}
.blog-nav {
    background: #fff;
    margin-top: 10%;
    border-radius: 8px;
}
.blog-visit {
    margin-top: 10%;
}
.blog-right {
    background: #fff;
    border-radius: 8px;
}