body {
    background: #F5F7F9;
}
.container {
    margin-top: 30px;
    margin-bottom: 30px;
}
.info {
    background: #fff;
    padding-top: 5%;
    border-radius: 8px;
}
.blog-message {
    margin-left: 10%;
    margin-right: 10%;
}
.blog-mes-div {
    padding: 0;
}
.blog-nav {
    background: #fff;
    margin-top: 10%;
    border-radius: 8px;
}
.blog-visit {
    margin-top: 10%;
}
.blog-right {
    background: #fff;
    border-radius: 8px;
}
/* 返回顶部按钮样式 */

.back-to-top {
    width: 40px;
    height: 40px;
    text-align: center;
    color: #888;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,.05);
    position: fixed;
    left: 90%;
    top: 90%;
}
.to-top-div {
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.back-to-top :hover{
    background: #aaa;
    color: #fff;
}
/* 返回顶部按钮样式 */