@charset "UTF-8";

body {
	margin:0px;
	padding:0px;
}
#bg-img {
	position: absolute;
	width: 100%;
	height: 100%;
	/*filter: blur(2px);*/
}
#black {
	width: 100%;
	height: 100%;
	background: #000;
	opacity:0;
	position: absolute;
}
#Snow {
	position: absolute;
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}

.container {
	background: white;
	opacity:0.9;
	position: fixed;
	top: 27%;
	left: 37%;
	width: 400px;
	height: 300px;
	text-align: center;
	border-radius: 10px;
	padding: 0px;
}
#btn-div {
}
#form-div {
	padding-left: 5%;
	padding-right: 5%;
	margin: 8%;
	margin-top: 70px;
}

/* #input, #inputpassword {
	margin: 10px 0;
} */

.form-control {
	margin-top: 20px;
	margin-bottom: 20px;
}

#repeatPassword {
	display: none;
}

#submit {
	margin-top: 10px;
}

.visitor {
	display: inline-block;
	margin-top: 20px;
}
.title-btn {
	width: 50%;
	float: left;
	height: 50px;
	outline: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #EDEDED;
}
#login-btn {
	background: #ddd;
	border-left: 0;
	border-radius: 10px 0 0 0;
}
#register-btn {
	border-left: 1px solid #EDEDED;
	border-radius: 0 10px 0 0 ;
}
.warning-show {
	position: absolute;
	left: 65px;
	color: red;
}
#warning-password {
	top: 160px;
}
#warning-repeat {
	top: 212px;
}