.right-content {
	margin-top: 15px;
}
.title-msg {
	margin-left: 10px;
	margin-right: 10px;
}
.title-msg-div {
	margin-top: 3%;
	margin-bottom: 3%;
}
.line {
	height: 1px;
	border-bottom: 1px solid #aaa;
	color: #ccc;
	margin: 15px 0px;
}
#admin-btn {
	margin-top: 15px;
}
.adminbt {
	background: #31A4F8;
	display: inline;
}