.line {
	width: 8px;
	border: 0px;
	margin: 0px;
	padding-top: 40px;
	padding-bottom: 40px;
	background: #65AB30;
}
.timeline-year-btn {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	font-size: 30px;
	position: relative;
	left: -15px;
	background: #85BB3C;
}
.line.timeline-year-btn :hover {
	background: #65AB30;
}
.timeline-content-btn {
	padding: 0px;
	margin: 0px;
	width: 22px;
	height: 22px;
	border: 3px solid #85BB3C;
	border-radius: 11px;
	position: relative;
	left: -6px;
	background: #fff;
}
#timeline {
	margin-left: 30%;
	margin-bottom: 15px;
}
.last-line {
	border-radius: 0px 0px 4px 4px;
}
